doctype html
html
    head
        title Battleships!
        script(src="/javascripts/userData.js")
    body
        form(method="post")
            textarea(name="mantra")
            br
            input(type="submit", value="save")
        