doctype html
html
    head
        title Battleships!
    body
        form(method="post")
            img(src="/images/profile1.png")
            input(type="submit", name="profile1", value="select")
            br
            img(src="/images/profile2.png")
            input(type="submit", name="profile2", value="select")
            br
            img(src="/images/profile3.png")
            input(type="submit", name="profile3" value="select")