doctype html
html
    head
        title Battleships!
    body
        form
            input(type="submit",  formaction="singlegame", value="single player")
            input(type="submit", formaction="multigame", value="multiplayer")