doctype html
html
    head
        title Battleships!
    body
        form(action="account")
            ol(id="highscores")
            script.
                const list = document.getElementById('highscores')
                var accountsList = JSON.parse('!{accounts}')
                console.log(accountsList);
                for(let i=0; i<accountsList.length; i++){
                    var accountNode = document.createElement('li')
                    var accountUsername = document.createTextNode(accountsList[i].username)
                    accountNode.appendChild(accountUsername)

                    var accountButton = document.createElement('input')
                    accountButton.setAttribute('type', 'submit')
                    accountButton.setAttribute('name', 'username')
                    accountButton.setAttribute('value', accountsList[i].username)
                    accountNode.appendChild(accountButton)

                    var accountMantra = document.createTextNode(accountsList[i].mantra)
                    accountNode.appendChild(accountMantra)
                    list.append(accountNode)
                }