doctype html
html
    head
        title Battleships!
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        form(method="post", onSubmit="return checkLoginForm()")
            label Username: 
            label(class="error-label", id="usernameErr")
            if(!credentialsValid)
                script.
                    document.getElementById("usernameErr").innerHTML = "incorrect username or password"
            else if(credentialsValid !== null)
                script.
                    userUsername = !{JSON.stringify(username)}
            br
            input(type="text", id="username", name="username", placeholder="username")
            br
            label Password: 
            label(class="error-label", id="passwordErr")
            br
            input(type="password", id="password", name="password", placeholder="password")
            br
            input(type="submit", value="login")
        form(action="register")
            input(type="submit", value="sign up")
            
        script(src="/javascripts/submitform.js")