doctype html
html
    head
        title Battleships!
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        canvas(id="user-canvas", width="480", height="480")
        canvas(id="opponent-canvas", width="480", height="480")
        script(src="/javascripts/battleships.js")